version: '3.9'

services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
      - redis
    environment:
      - MONGO_URI=mongodb://mongodb:27017/?replicaSet=rs0
      - REDIS_ADDR=redis:6379

  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    command: ["mongod", "--replSet", "rs0","--bind_ip_all" ]
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7
    ports:
      - "6379:6379"


volumes:
    mongo-data: